.vscode/
build/
gtceu/
logs/
mods/
resourcepacks/
saves/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
crash-reports/

options.txt
emi.json
usercache.json
usernamecache.json

*.log
*.lock

*.jar
*.zip



